{{- $profile := site.Data.profile.person -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ $profile.name | jsonify }},
  "url": {{ site.BaseURL | jsonify }},
  "jobTitle": {{ (index $profile.tagline site.Language.Lang) | jsonify }},
  "email": {{ (printf "mailto:%s" (index $profile.emails 0).value) | jsonify }},
  "homeLocation": {
    "@type": "Place",
    "name": {{ (index $profile.location site.Language.Lang) | jsonify }}
  },
  "sameAs": [
    {{- range $i, $link := $profile.social -}}
      {{- if $i }},{{ end }}{{ $link.url | jsonify }}
    {{- end -}}
  ]
}
</script>
